@import "./breakpoints.scss", "./colors.scss","./icons.scss","./fonts.scss";

.navigation-icon {
   svg {
      fill: red;
   }

   @include tablet {
      svg {
         fill: blue;
      }
   }

   @include mobile {
      svg {
         fill: violet;
      }
   }
}
