@use"../style-setup/index.scss"as *;
@use "./hero.scss" as *;
@use "./navigation.scss"as *;
@use "./header.scss"as *;

*,*::before,*::after {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,p,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    display: block;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 5;
  }

a {
  text-decoration: none;
  &:link {
      color: $black-color;
      opacity: 0.8;
  }
  &:hover {
      color: $cyan-color;
  }
}